.services-submenu {
  width: 10rem;
  position: absolute;
  top: 70px;
  list-style: none;
  text-align: start;
}

.services-submenu .clicked {
  display: none;
}

.services-submenu li {
  background: #054146;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.services-submenu li:hover {
  background-color: #317088;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.dropdown-link:hover {
  color: thistle;
}
