.signup-overlay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.signup-overlay > div {
    background-color: #f0f0f0;
    width: 500px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.signup-overlay > div > h1 {
    color: #007bff;
    text-align: center;
}

.signup-form > section {
    display: grid;
    margin-bottom: 10px;
}

.signup-form > section > label {
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    margin-bottom: 5px;
}

.signup-form > section > input {
    border-radius: 7px;
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
    transition: .3s all ease;
}

.signup-form > section > input:focus {
    border: 2px solid #007bff;
}

.signup-btn-container {
    display: flex;
    justify-content: right;
    gap: 10px;
} 

.signup-btn-container > button {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #f0f0f0;
    background-color: #317088;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
    transition: .3s all ease-in-out;
} 

.signup-btn-container > a {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #f0f0f0;
    background-color: #317088;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

.signup-btn-container > a:hover {
    color: thistle;
}

.signup-btn:hover {
    color: thistle;
}