.service {
    display: flex;
    gap: 40px;
    padding: 40px;
    width: 800px;
    background-color: #f0f0f0;
    border-radius:15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.service > div > h3 {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 1.3rem;
}

.service > div > p {
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin-bottom: 13px;
}

.service-image {
    width: 400px;
    height: 300px;
    border-radius:15px;
    border: none;
}

@media only screen and (max-width: 768px) {
    .service {
        flex-direction: column;
        width: 80%;
        margin-inline: 20px;
        background-color: #f0f0f0;
        border-radius:15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .service > div {
        padding: 7px;
    }
}