.heading-with-background {
  position: relative;
}

.heading {
  position: absolute;
  height: 100vh;
  width: 45%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading h1 {
  font-size: 4.5rem;
  color: #f0f0f0;
  margin-bottom: 20px;
  z-index: 1;
}

.span-header {
  color: #007bff;
}

.heading-text {
  font-size: 22px;
  z-index: 1;
  color: #ccc;
}

@media only screen and (max-width: 760px) {
  .heading {
    width: 100%;
    padding-left: 0px;
    align-items: center;
  }

  .heading h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }

  .heading-text {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    width: 70%;
  }

}