.dashboard-updates {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.dashboard-updates h2 {
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.7rem;
}

.update-item {
  margin-bottom: 15px;
  font-size: 15px;
  color: #555;
}

.update-item p {
  margin: 0;
}
