.login-overlay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.login-overlay > div {
    background-color: #f0f0f0;
    width: 500px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.login-overlay > div > h1 {
    color: #007bff;
    text-align: center;
}

.login-message {
    color: red;
    text-align: center;
    margin-block: 15px;
    font-size: 16px;
    font-weight: 500;
}

.login-form > section {
    display: grid;
    margin-bottom: 10px;
}

.login-form > section > label {
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    margin-bottom: 5px;
}

.login-form > section > input {
    border-radius: 7px;
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
    transition: .3s all ease;
}

.login-form > section > input:focus {
    border: 2px solid #007bff;
}

.login-form > a > p {
    font-weight: 500;
    margin-bottom: 10px;
    color: #317088;
    transition: .3s all ease;
}

.login-form > a > p:hover {
    color: #007bff;
}

.login-links {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.login-links > a {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #f0f0f0;
    background-color: #317088;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
    text-decoration: none;
    transition: .3s all ease-in-out;
} 

.login-links > button {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #f0f0f0;
    background-color: #317088;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

.login-links > a:hover {
    color: thistle;
}


.login-links > button:hover {
    color: thistle;
}