.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #054146;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  /* .scrolled {
    
  } */
  
  .logo {
    width: 180px;
    margin-left: 18px;
    margin-right: 35px;
    border-radius: 5px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    border: 1px solid #abb8c3;
    border-radius: 40px;
  }
  
  .nav-links li {
    padding: 10px 10px 10px 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-right: 25px;
    transition: 0.3s all ease-in-out;
    padding: 5px;
    height: 20px;
    font-weight: 600;
  }
  
  .nav-links li a:hover {
    background-color: #317088;
    border-radius: 6px;
    color: thistle;
  }
  
  .button-nav {
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s all ease-in-out;
  }
  
  #login {
    background-color: #317088;
    color: thistle;
    transition: 0.3s all ease-in-out;
  }
  
  #login:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    transform: scale(1.05);
  }
  
  #signin {
    background-color: #162;
    color: #ccc;
  }
  
  #signin:hover {
    color: #007bff;
    transform: scale(1.05);
  }

  .my-nav-btns {
    padding-right: 15px;
    display: flex;
    column-gap: 10px;
  }
  
  .active-Link {
    background-color: #317088;
    border-radius: 6px;
  }
  