.navbar-full-container {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #054146;
  }

  .disappear-nav {
    background-color:  #03687f;
    color: #abb8c3;
    display: flex;
    justify-content: space-between;
    padding-block: 15px;
    padding-inline: 50px;
  }

  .scrolled {
    display: none;
  }
  
  .logo {
    width: 180px;
    margin-left: 18px;
    margin-right: 35px;
    border-radius: 5px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    border: 1px solid #abb8c3;
    border-radius: 40px;
  }
  
  .nav-links li {
    padding: 10px 10px 10px 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-right: 25px;
    transition: 0.3s all ease-in-out;
    padding: 5px ;
    height: 20px;
    font-weight: 600;
  }
  
  .nav-links li a:hover {
    background-color: #317088;
    border-radius: 6px;
    color: thistle;
  }
  
  .hr-managt-item {
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 5px;
    cursor: default;
    transition: 0.3s all ease-in-out;
  }

  .hr-managt-item:hover {
    background-color: #317088;
    border-radius: 6px;
    color: thistle;
  }

  .link-nav {
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
  }

  .cursor-disabled {
    cursor: not-allowed;
  }
  
  #login {
    background-color: #317088;
    color: thistle;
    transition: 0.3s all ease-in-out;
  }
  
  #login:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    transform: scale(1.05);
  }
  
  #signin {
    background-color: #162;
    color: #ccc;
  }
  
  #signin:hover {
    color: #007bff;
    transform: scale(1.05);
  }

  .my-nav-links {
    padding-right: 15px;
    display: flex;
    column-gap: 10px;
  }
  
  .active-Link {
    background-color: #317088;
    border-radius: 6px;
  }
  
  .short-details {
    display: flex;
  }

  .short-details > p {
    margin-right: 15px;
    font-size: 14px;
  }

  .entry-social {
    margin-right: 7px;
    color: #fff;
  }

  .short-details > span {
    margin-left: 100px;
  }

  .social-icons-nav > a {
    color: #abb8c3;
    margin-inline: 10px;
    transition: .3s all ease-in-out;
  }

  .social-icons-nav > a:hover {
    color: #f0f0f0;
  }

  .item-social {
    transition: .3s all ease-in-out;
  }

  .item-social:hover {
    transform: scale(1.2);
  }

  .search-icon {
    margin-left: 10px;
    cursor: pointer;
    transition: .3s all ease-in-out;
  }

  .search-icon:hover {
    color: #f0f0f0;
    transform: scale(1.2);
  }

  .gmail-tel-link {
    text-decoration: none;
    color: #abb8c3;
    transition: .3s all ease-in-out;
  }

  .gmail-tel-link:hover {
    text-decoration: underline;
    color: #f0f0f0;
  }