.footer {
  background-color: #054146;
  color: #ccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.footer-container {
  padding-inline: 100px;
  padding-block: 80px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-container section h2 {
  margin-bottom: 50px;
  position: relative;
}

.footer-container section h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #162;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-container section > ul > li {
  list-style: none;
  margin-bottom: 15px;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s all ease-in-out;
  font-size: 15px;
}

.footer-link:hover {
  color: #007bff;
  padding-left: 10px;
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 35px;
}

.social-link {
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #162;
  color: #ccc;
  transition: 0.3s all ease-in-out;
}

.social-link:hover {
  color: #007bff;
  /* background-color: #228B22;  */
}


.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms hr {
  margin-right: 7px;
  color: #ccc;
  height: 12px;
  border: 1px solid #162;
}

.terms-link {
  color: #ccc;
  text-decoration: none;
  margin-right: 7px;
  transition: .3s all ease-in-out;
}

.terms-link:hover{
  text-decoration: underline;
  color: #007bff;
}

.footer-line {
  margin-bottom: 30px;
  padding-inline: 30px;
}

.footer-line > hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #162;
} 


.footer-copright {
  max-width: 400px;
  margin: auto;
  padding-block: 20px;
} 

.back-top {
  display: flex;
  justify-content: right;
  padding-bottom: 15px;
  padding-right: 10px;
}

.back-top button {
  padding: 7px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  background-color: #162;
  color: #ccc;
  transition: .3s all ease-in-out;
}

.back-top button:hover {
  color: #007bff;
  transform: scale(1.05);
}